*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

.container {
    width: 100%;
    margin:auto;
}

.header{
    width: 100%;
    background-color:white;
    border-top: #3bafbe 5px solid;
    border-bottom: #e2e2e2 1px solid;
 }

 .header-items {
    display: flex;
    margin-top:25px;
    margin-bottom: 25px;
  }

  .header-right {
    flex:30%;
    margin-right: 20px;
  }

  .header-left {
    flex:70%;
    margin-left: 20px;
  }

  .icons {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
  }
  
  .icons div {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #333333;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
  }
  
  .icons-linkedin:hover {
    background-color: #0e76a8;
  }

  .icons-twitter:hover {
    background-color: #08a0e9;
  }

  .icons-pinterest:hover {
    background-color: #c8232c;
  }

  .icons-gplus:hover {
    background-color: #db4437;
  }

  .icons-rss:hover {
    background-color: #ee802f;
  }

  .search-items {
    margin-bottom: 50px;
  }

  .search-items input{
    height:30px;
  }

  .search {
    width: 220px;
    background-color: #333333;
    color: white;
    border-radius: 10px;
    padding-left: 10px;
    border-style: solid;
  }

  .search-button {
    width: 70px;
    background-color: #3bafbe;
    color: white;
    border-radius: 10px;
    border-style: solid;
    text-transform: uppercase;
  }

  .menu{
    width: 800px;
    margin-top: 15px;
    color: #333333;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float:right;
    text-transform: uppercase;
  }

.menu li {
    display: inline;
    padding: 10px;
  }

.menu li:hover {
    color:#3bafbe;
}