.body {
    font-family: Arial;
}


.h1 {
    font-size: 2.5rem;
}


/*Tag Buttons*/

.buttons {
    margin-top:20px;
    margin-bottom:20px;
}

.tag {
    border:0px;
    background-color: #f0f0f0;
    padding: 4px 8px;
    margin-right: 3px;
    border-radius: 5px;
    height: 30px;
}

/*Search Items*/

.search-bar{
    margin-top:10px;
    height: 40px;
}

.search-bar-search {
    width:180px;
    height: 30px;
    padding: 1px 0px;
}

.search-bar-submit{
height: 35px;
padding: 4px 8px;
background-color: #28A745;
border:0px;
border-radius: 5px;
color:white;
}

.search-bar-tranding {
height: 35px;
padding: 4px 8px;
background-color: #DC3545;
border:0px;
border-radius: 5px;
color:white;
}

.search-bar-submit:hover{
    background-color: rgb(41, 136, 63);
}

.search-bar-tranding:hover{
    background-color: rgb(206, 28, 46);
}

/*Gifs*/

.gifSection {
    border-top: 1px solid #f0f0f0;
    margin-top:20px;
}

.giflist {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-right: 200px;
  margin-top:20px;
}

.giflist img{
    border:1px solid black;
    margin-bottom: 20px;
}

